# Q1

In [1]:
2+5

7

In [2]:
2 + 5

7

In [3]:
2*5

10

In [4]:
2/5

0.4

In [5]:
2**5

32

# Q2

In [1]:
x = 7
x = x + 3
print('the value of x is', x)
print("Because x is first assigned with the value 7, then added by 3")

the value of x is 10
Because x is first assigned with the value 7, then added by 3

# Q3

In [2]:
x = 3
y = x
x = 10
print('the value of y is', y)
print('the value of x is', x)
print("x is first assigned with the value 3, then y is set to equal to x, then x is reset to 10")

the value of y is 3
the value of x is 10
x is first assigned with the value 3, then y is set to equal to x, then x is reset to 10

# Q4

In [3]:
x = 3
x = x/2
y = 'abc'
z = y + y
print(x, z)
print("this piece of code can run without error")

1.5 abcabc
this piece of code can run without error

# Q5

This piece of code can't be run without error.
x is a float number and y is a string. We can't add these two together to get z.

# Q6

In [4]:
x = 3
y = 24
z = y / x
print(x, y, z, sep = '|')
print("this piece of code can run without error")

3|24|8.0
this piece of code can run without error

# Q7

This piece of code can't be run without error.
x is a float number and y is a string. We can't divide y by x to get z.

# Q8

In [5]:
x = "I am a #string" # Whoa, a string!
print(x)
print("this piece of code can run without error")

I am a #string
this piece of code can run without error

# Q9

In [6]:
x = [1, 2, 3]
y = [42, 43]
z = x + y
print(z)
print("this piece of code can run without error")

[1, 2, 3, 42, 43]
this piece of code can run without error

# Q10

This piece of code can't be run without error.
x is a list and y is a float number. We can't add y to x and get z.

# Q11

In [8]:
x1 =12
type(x1)

int

In [3]:
x2 = 12.0
type(x2)

float

In [4]:
x3 = '12.0'
type(x3)

str

In [5]:
x4 = [12.0]
type(x4)

list

In [6]:
x5 = [12, 12.0, '12']
type(x5)

list

# Q12

42 is an integer

In [14]:
type(42)

int

42.0 is a float number

In [15]:
type(42.0)

float

'42.0' is a string

In [9]:
type('42.0')

str

"42.0" is a string, "" or '' does not matter

In [10]:
type("42.0")

str

"""42.0""" is a string, the number of quotation marks doesn't matter

In [11]:
type("""42.0""")

str

[1,2] is a list

In [17]:
type([1,2])

list

[1] + [2] = [1,2] a list

In [13]:
type([1]+[2])

list

1+2=3, 3 is an integer

In [15]:
type(1+2)

int

print() is a function

In [16]:
type(print)

builtin_function_or_method

# Q13

In [17]:
type(str(float(int("1234"))))

str

# Q14

In [18]:
type(int(float('12.34')))

int

# Q15

output is the length of the list, since there is only one item in this list, length of the list is 1

In [19]:
len([1234])

1

output is the length of a string, measured in characters. There are four characters in this string.

In [20]:
len("1234")

4

Error: len() function cannot measure the length of an integer.

# Q16

In [18]:
x = []
type(x)

list

In [19]:
print("length of x is", len(x))

length of x is 0

# Q17

In [25]:
x = 'abcde'
x = list(x)
print(x)

['a', 'b', 'c', 'd', 'e']

# Q18

In [26]:
x = 1234

In [27]:
x_float = float(x)
x_float

1234.0

In [28]:
x_string = str(x)
x_string

'1234'

In [30]:
x_list = list(x_string)
print(x_list)

['1', '2', '3', '4']

# Q19

In [33]:
x = 'luke, i am your father'
y = x.split()
z = ''
for word in y:
    word = word.capitalize()
    z += word + " "
print(z)

Luke, I Am Your Father

# Q20

In [26]:
x = 'How many characters and words are in this string?'
count = 0
for char in x:
    if char != ' ' and char != '?':
        count += 1
print("the number of characters in x is", count)

the number of characters in x is 40

In [24]:
l1 = []
for char in x:
    if char != ' ' and char != '?':
        l1.append(char)
print(l1)

['H', 'o', 'w', 'm', 'a', 'n', 'y', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', 'a', 'n', 'd', 'w', 'o', 'r', 'd', 's', 'a', 'r', 'e', 'i', 'n', 't', 'h', 'i', 's', 's', 't', 'r', 'i', 'n', 'g']

In [37]:
l2 = x.split()
print(l2)

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

In [38]:
print("the number of words in this string is", len(l2))

the number of words in this string is 9

# Q21

This assignment took me about 45 minutes